.payment {
    &__title {
        margin-bottom: 48px;
        @media (max-width: 576px) {
            margin-bottom: 24px;
        }
    }
    &-block {
        margin-bottom: 32px;
        display: flex;
        gap: 16px;
        flex-direction: column;
        @media (max-width: 576px) {
            margin-bottom: 24px;
            gap: 12px;
        }
    }
}
