.about-us {
    margin-bottom: 80px;
    @media (max-width: 576px) {
        margin-bottom: 24px;
    }
    h1 {
        font-weight: 700;
        font-size: 36px;
        line-height: 48 / 36 * 100%;
        text-transform: uppercase;
        margin-bottom: 24px;
        @media (max-width: 576px) {
            margin-bottom: 8px;
            font-size: 22px;
            line-height: 29 / 22 * 100%;
        }
    }
    a {
        margin-bottom: 40px;
    }
    & > p {
        margin-bottom: 16px;
        @media (max-width: 576px) {
            margin-bottom: 8px;
        }
    }
}
