.best-offer {
    position: relative;
    &-slider {
        padding: 40px 10px 70px 10px;
        overflow: hidden;
        margin-left: -15px;
        margin-right: -15px;
        @media (max-width: 576px) {
            padding: 16px 0 24px 0;
            margin-left: -5px;
            margin-right: -5px;
        }
        .swiper-wrapper {
            @media (max-width: 576px) {
                flex-direction: column;
                gap: 10px;
            }
        }
    }
    &__btn {
        display: none;
        @media (max-width: 576px) {
            display: block;
        }
        border: 1px solid #be8256;
        width: 100%;
        height: 44px;
        font-size: 15px;
        line-height: 130%;
        text-transform: uppercase;
        color: #be8256;
        margin-bottom: 24px;
        background-color: transparent;
    }
    &-slide {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
        row-gap: 20px;
        @media (max-width: 576px) {
            grid-template-columns: 1fr 1fr;
            row-gap: 10px;
            &-hidden {
                display: none;
            }
        }
    }
    &__swiper-buttons {
        position: absolute;
        top: 0;
        right: 0;
        transform: translateY(50%);
        display: flex;
        gap: 20px;
        @media (max-width: 576px) {
            display: none;
        }
    }
    &__swiper-button-prev,
    &__swiper-button-next {
        cursor: pointer;
        display: inline-block;
        svg {
            path {
                fill: #9898a0;
            }
        }
    }
}
