.best-offer {
    position: relative;
    &-slider {
        padding-top: 40px;
        overflow: hidden;
        margin-left: -15px;
        padding-left: 10px;
        margin-right: -15px;
        padding-right: 10px;
        padding-bottom: 70px;
        @media (max-width: 576px) {
            padding-top: 16px;
            padding-bottom: 24px;
            margin-left: -5px;
            margin-right: -5px;
            padding-left: 0;
            padding-right: 0;
        }
    }
    &-slide {
        display: grid !important;
        grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
        row-gap: 20px;
        @media (max-width: 576px) {
            grid-template-columns: 1fr 1fr;
        }
    }
    &__swiper-buttons {
        position: absolute;
        top: 0;
        right: 0;
        transform: translateY(50%);
        display: flex;
        gap: 20px;
        @media (max-width: 576px) {
            display: none;
        }
    }
    &__swiper-button-prev {
        cursor: pointer;
        display: inline-block;
        transform: rotate(-180deg) translateY(1.5px);
        &:before {
            color: #9898a0;
            font-size: 20px;
        }
    }
    &__swiper-button-next {
        cursor: pointer;
        &:before {
            color: #9898a0;
            font-size: 20px;
        }
    }
}
