.chat {
    width: 60px;
    height: 60px;
    background: #be8256;
    border-radius: 50%;
    position: fixed;
    bottom: 60px;
    right: 60px;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    &:before {
        font-size: 18px;
        color: white;
    }
    @media (max-width: 900px) {
        display: none;
    }
}
