.footer {
    background-color: #3f3939;
    padding: 40px 50px;
    @media (max-width: 1050px) {
        padding: 40px 0;
    }
    @media (max-width: 360px) {
        padding: 24px 0;
    }
    &-flex {
        display: flex;
        gap: 116px;
        padding-bottom: 53px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        @media (max-width: 1300px) {
            gap: 70px;
        }
        @media (max-width: 1210px) {
            gap: 30px;
        }
        @media (max-width: 850px) {
            flex-direction: column;
            gap: 50px;
        }
        @media (max-width: 360px) {
            padding-bottom: 16px;
        }
    }
    &-nav {
        display: flex;
        gap: 70px;
        @media (max-width: 1210px) {
            gap: 30px;
        }
        @media (max-width: 620px) {
            gap: 10px;
        }
        @media (max-width: 576px) {
            display: none;
        }
        h5 {
            font-size: 15px;
            line-height: 20 / 15 * 100%;
            color: #ffffff;
            margin-bottom: 14px;
        }
        &__list {
            display: flex;
            flex-direction: column;
            gap: 12px;
            &-link {
                font-size: 15px;
                line-height: 20 / 15 * 100%;
                color: white;
            }
            &-dots {
                padding-left: 25px;
                li {
                    list-style-type: disc;
                    color: white;
                }
            }
        }
    }
    &-contacts {
        min-width: 190px;
        &__title {
            color: white;
            font-size: 15px;
            line-height: 20 / 15 * 100%;
            text-transform: uppercase;
            margin-bottom: 20px;
            @media (max-width: 360px) {
                display: none;
            }
        }
        &-flex {
            @media (max-width: 360px) {
                display: flex;
                justify-content: space-between;
            }
        }
        &__text {
            color: white;
            font-size: 15px;
            line-height: 20 / 15 * 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        @media (max-width: 850px) {
            display: flex;
            gap: 30px;
        }
        @media (max-width: 440px) {
            flex-direction: column;
        }
        @media (max-width: 360px) {
            gap: 0;
        }
    }
    &__tel,
    &__email {
        color: white;
        font-weight: 700;
        font-size: 16px;
        line-height: 21 / 16 * 100%;
        display: flex;
        align-items: flex-end;
        gap: 8px;
        margin-bottom: 8px;
        &::before {
            font-size: 20px;
            color: white;
            margin-bottom: 4px;
        }
    }
    &__email {
        margin-bottom: 16px;
    }
    &-social {
        display: flex;
        gap: 8px;
        margin-bottom: 20px;
        a {
            width: 32px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.2);
            &::before {
                color: white;
            }
            &:first-child {
                &:before {
                    font-size: 13px;
                }
            }
            &:last-child {
                &:before {
                    font-size: 16px;
                }
            }
        }
    }
    &-copyright {
        padding: 30px 0 0 0;
        background: #3f3939;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 12px;
        &-links {
            display: flex;
            gap: 24px;
            a {
                text-decoration: underline;
            }
            @media (max-width: 576px) {
                flex-direction: column;
            }
            @media (max-width: 360px) {
                gap: 12px;
            }
        }
        &__text {
            color: white;
            font-size: 13px;
            line-height: 17 / 13 * 100%;
        }
        @media (max-width: 576px) {
            flex-direction: column;
            align-items: flex-start;
        }
        @media (max-width: 360px) {
            padding: 16px 0 0 0;
        }
    }
}
