.header {
    @media (max-width: 576px) {
        display: flex;
        flex-direction: column;
    }
    &-contacts {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #e5e5eb;
        padding-top: 9px;
        padding-bottom: 9px;
        & > div:first-child {
            display: flex;
            gap: 32px;
            align-items: center;
        }
        & > div:last-child {
            display: flex;
            gap: 17px;
            align-items: center;
            @media (max-width: 666px) {
                gap: 0;
            }
            @media (max-width: 576px) {
                order: -1;
            }
        }
        @media (max-width: 576px) {
            width: 100%;
            border-top: 1px solid #e5e5eb;
            border-bottom: none;
        }
    }
    &__text {
        font-size: 14px;
        line-height: 19 / 14 * 100%;
        color: #1e1e1e;
    }
    &__calculation-btn {
        @media (max-width: 576px) {
            width: 100%;
            background-color: #be8256;
            height: 58px;
            font-weight: 600;
            font-size: 15px;
            line-height: 20px;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            &::before {
                font-size: 24px;
            }
        }
    }
    &__address {
        display: flex;
        align-items: center;
        gap: 10px;
        @media (max-width: 1110px) {
            display: none;
        }
        &:before {
            font-size: 20px;
            color: #9898a0;
        }
        &-ofice {
            position: relative;
            cursor: pointer;
            @media (max-width: 666px) {
                display: none;
            }
            &:before {
                font-size: 20px;
                color: #9898a0;
                position: absolute;
                right: -26px;
                transition: all 0.4s ease;
            }
            &:hover {
                .header__address-ofice-tooltip {
                    opacity: 1;
                    visibility: visible;
                }
                &:before {
                    transform: rotate(180deg);
                }
            }
            &-tooltip {
                opacity: 0;
                visibility: hidden;
                transition: all 0.4s ease;
                position: absolute;
                top: 25px;
                padding: 12px 16px 16px 16px;
                background: #ffffff;
                box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.16);
                border-radius: 12px;
                width: 298px;
                z-index: 5;
                cursor: default;
            }
        }
    }
    &__email {
        font-weight: 600;
        font-size: 15px;
        line-height: 20 / 15 * 100%;
        color: #000000;
        display: flex;
        align-items: center;
        gap: 8px;
        &:before {
            font-size: 20px;
            color: #000000;
        }
        @media (max-width: 840px) {
            &.icon-4 {
                display: none;
            }
        }
    }
    &__tel {
        color: #1e1e1e;
        @media (max-width: 666px) {
            font-size: 0;
            &:before {
                background-color: #403636;
                width: 32px;
                height: 32px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
            }
        }
    }
    &__time {
        display: flex;
        align-items: center;
        gap: 10px;
        &:before {
            font-size: 17px;
            color: #9898a0;
        }
        @media (max-width: 576px) {
            display: none;
        }
    }
    &__social {
        display: flex;
        gap: 8px;
        a {
            display: block;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            &:first-child {
                background-color: #50a4d1;
                &:before {
                    font-size: 13px;
                    color: white;
                }
            }
            &:last-child {
                background-color: #1ea918;
                &:before {
                    font-size: 16px;
                    color: white;
                }
            }
        }
    }
    &-block {
        padding-top: 16px;
        padding-bottom: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__text {
            font-weight: 700;
            max-width: 231px;
            @media (max-width: 1170px) {
                display: none;
            }
        }
        & > div:first-child {
            display: flex;
            align-items: center;
            gap: 25px;
            @media (max-width: 340px) {
                gap: 15px;
            }
        }
        @media (max-width: 576px) {
            width: 100%;
            order: -1;
        }
    }
    &__search {
        position: relative;
        input {
            width: 360px;
            height: 40px;
            border: 1px solid #e5e5eb;
            border-radius: 4px;
            padding: 0 16px;
            &::placeholder {
                font-size: 14px;
                line-height: 19 / 14 * 100%;
                color: #76767a;
            }
            @media (max-width: 1250px) {
                width: 260px;
            }
            @media (max-width: 920px) {
                width: 170px;
            }
            @media (max-width: 840px) {
                display: none;
            }
        }
        button {
            position: absolute;
            background-color: transparent;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            &:before {
                font-size: 24px;
                color: #9898a0;
            }
            @media (max-width: 840px) {
                position: static;
                transform: none;
            }
        }
    }
    &-buttons {
        display: flex;
        align-items: center;
        gap: 25px;
        button {
            color: #76767a;
            background-color: transparent;
            display: flex;
            align-items: center;
            gap: 10px;
            &:before {
                font-size: 20px;
                color: #9898a0;
                margin-bottom: 2px;
            }
        }
        @media (max-width: 576px) {
            display: none;
        }
    }
    &__menu-btn {
        display: none;
        background-color: transparent;
        @media (max-width: 576px) {
            display: block;
        }
    }
    &__btn,
    &__btn-mobile,
    &__btn-mobile-2 {
        font-weight: 600;
        font-size: 14px;
        line-height: 19 / 14 * 100%;
        color: #be8256;
        padding: 9px 12px;
        border: 1px solid #be8256;
        border-radius: 4px;
        background-color: transparent;
        transition: all 0.4s ease;
        &:hover {
            border: 1px solid #b37142;
            outline: 1px solid #b37142;
        }
    }
    &__btn {
        @media (max-width: 666px) {
            display: none;
        }
    }
    &__btn-mobile {
        display: none;
        @media (max-width: 666px) {
            display: block;
        }
    }
    &-mobile-flex {
        display: none;
        justify-content: space-between;
        div:first-child {
            display: flex;
            gap: 12px;
            flex-direction: column;
            a {
                font-weight: 600;
                font-size: 15px;
                line-height: 20px;
                color: black;
                display: flex;
                gap: 8px;
                align-items: center;
                &:before {
                    font-size: 15px;
                    color: #000000;
                }
            }
        }
        @media (max-width: 576px) {
            display: flex;
        }
    }
    &__btn-mobile-2 {
        width: 300px;
        margin-top: 24px;
        margin-bottom: 90px;
        @media (max-width: 360px) {
            width: 300 / 360 * 100%;
        }
    }
    &-mobile-block {
        display: none;
        @media (max-width: 576px) {
            display: block;
            text-align: center;
            margin-top: 24px;
        }
    }

    &-nav {
        background: #403636;
        position: relative;
        overflow-y: auto;
        &-container {
            display: flex;
            gap: 18px;
            @media (max-width: 576px) {
                flex-direction: column;
                margin: 0 14px;
            }
        }
        &__close-btn {
            display: none;
            background-color: transparent;
            @media (max-width: 576px) {
                display: block;
                position: absolute;
                top: 20px;
                right: 26px;
            }
        }
        &__btn {
            background-color: #be8256;
            padding: 12px 20px 10px 20px;
            display: flex;
            align-items: center;
            gap: 12px;
            color: white;
            font-size: 16px;
            line-height: 21 / 16 * 100%;
            img {
                margin-bottom: 2px;
            }
            @media (max-width: 900px) {
                display: none;
            }
        }
        &__list {
            display: flex;
            flex-wrap: wrap;
            padding: 10px 0;
            row-gap: 5px;
            &-link {
                display: flex;
                align-items: center;
                height: 100%;
                padding: 0 12px;
                color: #ffffff;
                opacity: 0.8;
                font-size: 16px;
                line-height: 21 / 16 * 100%;
                @media (max-width: 576px) {
                    color: black;
                    font-weight: 600;
                    font-size: 17px;
                    padding: 0;
                }
            }
            @media (max-width: 576px) {
                flex-direction: column;
                padding: 33px 0 32px 0;
                row-gap: 29px;
                border-bottom: 1px solid #e5e5eb;
            }
        }
        @media (max-width: 576px) {
            position: fixed;
            height: 100%;
            width: 100%;
            z-index: 4;
            background-color: white;
            transform: translateX(-100%);
            transition: 0.4s;
            &.open {
                transform: translateX(0);
            }
        }
    }
}
