.item {
    padding: 16px;
    border: 1px solid #e5e5eb;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    @media (max-width: 576px) {
        padding: 12px;
        margin-left: 5px;
        margin-right: 5px;
    }
    &__sale {
        position: absolute;
        top: -10px;
        width: 100px;
        height: auto;
        left: -1px;
        @media (max-width: 576px) {
            left: -6px;
        }
    }
    &-wrapper {
        position: relative;
        @media (min-width: 576px) {
            &:hover {
                .item {
                    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.15);
                    position: absolute;
                    z-index: 2;
                }
                .item-buttons {
                    display: flex;
                }
                .item__sale {
                    left: -12px;
                    top: -11px;
                }
            }
        }
    }
    img:not(.item__sale) {
        height: 260px;
        width: 100%;
        object-fit: cover;
        margin-bottom: 12px;
        @media (max-width: 576px) {
            height: 172px;
            margin-bottom: 8px;
        }
    }
    &__title {
        a {
            font-weight: 600;
            font-size: 15px;
            line-height: 130%;
            color: black;
            display: block;
            @media (max-width: 576px) {
                font-size: 13px;
                line-height: 130%;
            }
        }
        margin-bottom: 24px;
        @media (max-width: 576px) {
            margin-bottom: 4px;
        }
    }
    &__price {
        font-weight: 700;
        font-size: 24px;
        line-height: 130%;
        color: black;
        &-sale {
            font-weight: 600;
            font-size: 16px;
            line-height: 130%;
            color: #949496;
            text-decoration: line-through;
            margin-bottom: 3px;
            @media (max-width: 576px) {
                font-size: 13px;
                line-height: 130%;
            }
        }
        &-block {
            display: flex;
            flex-wrap: wrap;
            gap: 16px;
            align-items: flex-end;
            @media (max-width: 576px) {
                gap: 8px;
            }
        }
        @media (max-width: 576px) {
            font-size: 18px;
        }
    }
    &-buttons {
        margin-top: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        display: none;
    }
    &__btn {
        width: 44px;
        height: 44px;
        border: 1px solid #e5e5eb;
        border-radius: 4px;
        background-color: transparent;
        &:before {
            font-size: 19px;
            color: #9898a0;
        }
        &-2 {
            padding: 0 39px 0 19px;
            height: 44px;
            position: relative;
            display: flex;
            align-items: center;
            &:before {
                position: absolute;
                right: 10px;
                font-size: 20px;
            }
        }
    }
}
