.mobile-menu {
    position: fixed;
    bottom: 0;
    display: none;
    background: #ffffff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    width: 100%;
    padding: 8px 16px;
    z-index: 7;
    &__list {
        display: flex;
        gap: 32px;
        justify-content: center;
        @media (max-width: 576px) {
            gap: 12px;
        }
        &-item {
            font-size: 12px;
            line-height: 16px;
            color: #76767a;
            display: flex;
            flex-direction: column;
            gap: 2px;
            align-items: center;
            &:before {
                font-size: 24px;
            }
        }
    }
    @media (max-width: 900px) {
        display: block;
    }
}
